body {
    background-color: white;
    font-family: 'IBM Plex Mono', monospace;
    }
ul, p, h1, h3, a   {
    color: white;
}
img {
    float: right;
    }
h3, a {
     color: black;
 }
 p, ul {
     background-color: rgb(27, 27, 100);
 }
 h1    {
     background-color: red;
 }
  </style>
  </head>
  <body>
  