body {
    background-color: white;
    font-family: 'IBM Plex Mono', monospace;
    background-image: ;
    }
ul, p, h1, h3, a   {
    color: white;
}
img {
    float: right;
    }

 h1, p, ul {
     background-color: #202731;
 }
 h3, a {
     color: black;
 }
  </style>
  </head>
  <body>
  