body {
    background-color: #000000;
    font-family: 'IBM Plex Mono', monospace;
    background-image: ;
    }
ul, p, h1, h3, a   {
    color: white;
}
img {
    float: right;
    }
 
  </style>
  </head>
  <body>
  